section {
    width: 100%;
    height: 100vh;
    z-index: 200;
    position: absolute;
    margin-top: 0;
}

.main section#page1 {
    background: grey;
    display: table;
}

                /* #tytul {
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                    margin-left: auto;
                    margin-right: auto;
                } */

                h3 {
                    text-align: center;
                    margin-left: auto;
                    margin-right: auto;
                }

                .main section#page2 {
                    background: white;
                }

                .main section#page3 {
                    background: yellow;
                }

                .main section#page4 {
                    background: black;
                }

                .main section#page5 {
                    background: green;
                }

                h1 {
                    font-size: 40px;
                    color: #efefef;
                    text-align: center;
                    padding-top: 45vh;
                }

                font {
                    border: 2px solid #efefef;
                }


/*         
#blok {

    font-size:1.8em;
    font-family:"Courier New", monospace;
    background-color:white;
  }
  
  #blok > span {
    position:absolute;
    top:0;
    right:0;
    height:10%;
    background-color:blue;
    animation:pisz 1.4s linear;
  }

  @keyframes pisz
{
  0% { width:100%; }
  100% { width:0; }
}
 */











#blok {
    position:relative;
    /* float: left; */
    font-size:20px;
    font-family:"Courier New", monospace;
    background-color:white;
    /* display: table-cell; */
    vertical-align: middle;
    text-align: center;
          background-color: aqua;
          margin-left: auto;
          margin-right: auto;
          text-align: center;
  }

  #blok > span {
    position:absolute;
    top:0;
    right:0;
    height:100%;
    background-color:white;
    border-left:1px solid transparent;
    animation:pisz 10s steps(25,start) infinite, znak 1s step-end infinite;
    -webkit-animation:pisz 10s steps(25,start) infinite, znak 1s step-end infinite; /* dla Google Chrome, Safari, Opera 15+ */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  #blok > p:hover {
    animation-play-state:paused;
  }
  
  /* ------------ANIMACJE------------ */
  @keyframes pisz
  {
    0% { width:100%; }
    100% { width:0; }
  }

  @keyframes znak
  {
    0% { border-left-color:transparent; }
    50% { border-left-color:black; }
    100% { border-left-color:transparent; }
  }

  /* dla Google Chrome, Safari, Opera 15+ */
  @-webkit-keyframes pisz
  {
    0% { width:100%; }
    100% { width:0; }
  }

  @-webkit-keyframes znak
  {
    0% { border-left-color:transparent; }
    50% { border-left-color:black; }
    100% { border-left-color:transparent; }
  }

  #wsio {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      /* background-color: aqua; */
  }


  #bla {
    background-color: rosybrown;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }